{% extends 'reviews/base.html' %}
{% block content %}

<div class="ui message">
    <h2>Are you sure you want to delete reviews for "{{ object.song.name }}"?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <button class='ui red button' type="submit">
                Delete
            </button>
            <a class='ui button' href="{% url 'review_detail' object.id %}">
                Cancel
            </a>
        </div>
    </form>
</div>

{% endblock content %}