{% extends 'reviews/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form action="" method="post" class="ui large form">
    {% csrf_token %}
    <fieldset class="field">
        <legend class="ui header"> Forgot Your Password?
        </legend>
        {{ form|crispy}}
        <button class='ui grey button' type="submit">
            Request to Reset
        </button>
    </fieldset>
</form>
<div class="ui vertical segment">
    <p>
        Remembered your password again? <a href="{% url 'login' %}">Log in</a>
    </p>
</div>

{% endblock content %}